:root {
  --primary-clr: #333;
  --p-clr: #4f4f4f;
  --btn-clr: #fff;
  --footer-clr: #bdbdbd;

  --fw-400: 400;
  --fw-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Space Mono", monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 1rem 1.5rem;
}

.header {
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.content__container {
  display: flex;
  flex-wrap: wrap;
}

.main__img {
  margin-bottom: 4rem;
  max-width: 33.75rem;
}

.main__content {
  max-width: 37.5rem;
}

.main__content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.main__content p {
  color: var(--p-clr);
  font-size: 1.125rem;
  margin-bottom: 4rem;
}

.btn {
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--btn-clr);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 1px 1px 5px 0px #333;
}

.btn--primary {
  display: inline-block;
  background-color: var(--primary-clr);
  padding: 1.71em 3.14em;
  border: 2px solid #333;
  margin-bottom: 7.14em;
}

.btn--primary:hover {
  color: #333;
  background-color: transparent;
  box-shadow: none;
  transition: 100ms;
}

footer {
  color: var(--footer-clr);
  padding: 1rem;
  margin-top: auto;
  display: flex;
  justify-content: center;
}

@media (min-width: 800px) {
  .container {
    padding: 2.5rem 7.5rem;
  }
}

@media (min-width: 1380px) {
  .main__content {
    margin: auto;
  }

  .main__content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .main__content p {
    color: var(--p-clr);
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }
}
